/* style.css */
body, .caipirinha {
    background-color: #FFF3E4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #483434 ;
}

h1 {
    font-family: 'cursive';
    text-align: center;
}
li, a {
    text-decoration: none;
    color: #FFF3E4;
    background-color: #6b4f4f;
    height: fit-content;
    width: fit-content;
    display: grid;
    margin: 5px;
}


